{% extends "base.html" %}

{% block title %}Integration Over the Unit Sphere{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="page-box">
        <h1 class="mb-4">Integration Over the Unit Sphere</h1>

        <p>
            Denne visualisering giver dig mulighed for at vælge integrationsintervaller for både \(x\)- og \(y\)-aksen. Observér, hvordan det valgte område påvirker integrationen over enhedssfæren.
        </p>

        <!-- Indsæt animationen -->
        <div class="card card-example mb-3 shadow-sm">
            <div class="card-body">
                <h5 class="card-title"> Visualisering af integration af enhedskuglen</h5>
                <div class="video">
                    <video autoplay loop muted style="width: 100%; height: auto; border-radius: 15px; box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);">
                        <source src="{{ url_for('static', filename='animations/IntegrateOverSphere.mp4') }}" type="video/mp4">
                        Din browser understøtter ikke video-tagget.
                    </video>
                </div>   
            </div>
        </div>
        

    </div>
</div>

{% endblock %}